* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    scroll-behavior: smooth;
    /* width: 100vw; */
}

.navbar-brand,
.nav-link {
    color: rgba(255, 255, 255, .8);
}

.nav-item.active .nav-link,
.nav-item:focus .nav-link,
.nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-nav {
    margin-right: 15%;
}
