.login{
    align-items: center;
    background: var(--color-white);
}

.login .card{
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}